* {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #E2998B;
    }

    h1 {
      text-align: center;
      margin-top: 10px;
    }

    .header {
      background-color: hsla(10, 31%, 28%, 1);
      color: #caa39b;
      padding: 10px;
      display: flex;
      align-items: center;
      width: 95%;
      justify-content: center;
    }

    .header img {
      height: 40px;
      margin-left: 5px;
      border-radius: 50%;
    }

    .header h1 {
      margin: 0;
      margin-left: 10px;
    }

    #menu-toggle {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #caa39b;
      margin-left: auto;
    }

    #menu-toggle i {
      font-size: 24px;
      color: #caa39b;
    }

    .menu-lateral {
      position: fixed;
      right: -250px;
      top: 0;
      width: 250px;
      height: 100%;
      background-color: #5E3932;
      color: #caa39b;
      transition: right 0.3s ease;
      z-index: 1000;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    }

    .menu-lateral ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .menu-lateral li {
      padding: 15px;
      border-bottom: 1px solid #caa39b;
    }

    .menu-lateral .logo2 {
      display: flex;
      align-items: center;
      padding: 15px;
      border-bottom: 1px solid #caa39b;
    }

    .menu-lateral .logo2 img {
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }

    .menu-lateral .logo2 b {
      font-size: 18px;
    }

    .menu-lateral a {
      color: #caa39b;
      text-decoration: none;
    }

    .menu-lateral a:hover {
      text-decoration: underline;
    }

    .menu-lateral.open {
      right: 0;
    }


    /* Estilos de ejemplo para las tarjetas de favoritos */
    .favorite-card {
      border: 1px solid #ddd;
      margin: 10px;
      padding: 10px;
      border-radius: 15px;
      background-color: #caa39b;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 90%;
      max-width: 400px;
      text-decoration: none;
      color: inherit;
      overflow: hidden;
      /* Asegura que el contenido no se desborde */
      transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .favorite-card img {
      width: 100%;
      border-radius: 5px;
    }

    .favorite-card .recipe-info {
      padding: 10px 0;
    }

    .favorite-card .recipe-info h2 {
      margin: 0;
      font-size: 1.2em;
      color: #333;
      text-align: center;
    }

    .favorite-card .recipe-info p {
      margin: 5px 0;
      font-size: 0.9em;
      color: #000;
    }

    .remove-btn {
      background-color: #caa39b;
      color: #ffffff;
      border: none;
      font-size: 20px;
    }